parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator\<int, App\\Models\\Thread\>\:\:map\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot access property \$participants on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot access property \$subject on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot access property \$user on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot call method all\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot call method map\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Cannot call method values\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/FrontEnd/DashboardController.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/LoginController.php

		-
			message: '#^Part \$URI \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/Http/Controllers/LoginController.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Controllers/LoginController.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Controllers/LoginController.php

		-
			message: '#^Method App\\Http\\Middleware\\Authenticate\:\:redirectTo\(\) should return string\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Middleware/Authenticate.php

		-
			message: '#^Part \$payload\[''quantity''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/MessageTypes/MetricType.php

		-
			message: '#^Part \$payload\[''unit''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/MessageTypes/MetricType.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: app/MessageTypes/MetricType.php

		-
			message: '#^Access to an undefined property App\\Notifications\\ConfirmPassport\:\:\$token\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/ConfirmPassport.php

		-
			message: '#^Binary operation "\." between ''\: '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Notifications/ConfirmPassport.php

		-
			message: '#^Binary operation "\." between mixed and '' One Time Password'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Notifications/ConfirmPassport.php

		-
			message: '#^Cannot call method plainText\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Notifications/ConfirmPassport.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Notifications/MessageCreated.php

		-
			message: '#^Binary operation "\." between ''New Message from\: '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Notifications/MessageCreated.php

		-
			message: '#^Cannot access property \$notify_via on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Notifications/MessageCreated.php

		-
			message: '#^Part \$user\-\>name \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/Notifications/MessageCreated.php

		-
			message: '#^Cannot access property \$notify_via on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Notifications/ParticipantCreated.php

		-
			message: '#^Cannot access property \$notify_via on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Notifications/ThreadCreated.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Providers/Project/LoginServiceProvider.php

		-
			message: '#^Parameter \#1 \$repository of class App\\Services\\LoginService constructor expects Laravel\\Passport\\ClientRepository, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/Project/LoginServiceProvider.php

		-
			message: '#^Cannot access property \$email on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Providers/TelescopeServiceProvider.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/TelescopeServiceProvider.php

		-
			message: '#^Variable \$mails on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: app/Providers/TelescopeServiceProvider.php

		-
			message: '#^Cannot call method name\(\) on App\\Interfaces\\MessageTypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/TypeRegistry.php

		-
			message: '#^Cannot call method schema\(\) on App\\Interfaces\\MessageTypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/TypeRegistry.php

		-
			message: '#^Cannot call method version\(\) on App\\Interfaces\\MessageTypeInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/TypeRegistry.php

		-
			message: '#^Parameter \#1 \$error of method Opis\\JsonSchema\\Errors\\ErrorFormatter\:\:format\(\) expects Opis\\JsonSchema\\Errors\\ValidationError, Opis\\JsonSchema\\Errors\\ValidationError\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/TypeRegistry.php

		-
			message: '#^Parameter \#1 \$payload of method App\\Interfaces\\CrossFieldValidatableInterface\:\:validate\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/TypeRegistry.php

		-
			message: '#^Parameter \#2 \$schema of method Opis\\JsonSchema\\Validator\:\:validate\(\) expects bool\|object\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/TypeRegistry.php

		-
			message: '#^Method App\\Services\\UserService\:\:find\(\) should return App\\Models\\User but returns App\\Models\\User\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Services/UserService.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/cache.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/database.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/session.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: database/factories/ContactFactory.php

		-
			message: '#^Cannot access property \$id on App\\Models\\Thread\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: database/factories/MessageFactory.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: database/factories/MessageFactory.php

		-
			message: '#^Method Database\\Factories\\ThreadFactory\:\:configure\(\) should return \$this\(Database\\Factories\\ThreadFactory\) but returns static\(Database\\Factories\\ThreadFactory\)\.$#'
			identifier: return.type
			count: 1
			path: database/factories/ThreadFactory.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: database/factories/ThreadFactory.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000001_create_oauth_auth_codes_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000001_create_oauth_auth_codes_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000002_create_oauth_access_tokens_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000002_create_oauth_access_tokens_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000003_create_oauth_refresh_tokens_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000003_create_oauth_refresh_tokens_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000004_create_oauth_clients_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000004_create_oauth_clients_table.php

		-
			message: '#^Method CreateOauthPersonalAccessClientsTable\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000005_create_oauth_personal_access_clients_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2018_08_08_100000_create_telescope_entries_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2018_08_08_100000_create_telescope_entries_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2024_06_01_000001_create_oauth_device_codes_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2024_06_01_000001_create_oauth_device_codes_table.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: routes/channels.php

		-
			message: '#^Cannot call method toArray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: routes/channels.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: routes/channels.php

		-
			message: '#^Parameter \#1 \$value of method Illuminate\\Testing\\TestResponse\<Symfony\\Component\\HttpFoundation\\Response\>\:\:assertSee\(\) expects list\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Feature/FrontEndTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andSet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/LoginTest.php

		-
			message: '#^Cannot call method andSet\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Feature/LoginTest.php

		-
			message: '#^Parameter \#1 \.\.\.\$methodNames of method Mockery\\LegacyMockInterface\:\:shouldReceive\(\) expects string, array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Feature/LoginTest.php

		-
			message: '#^Cannot access property \$id on App\\Models\\Thread\|null\.$#'
			identifier: property.nonObject
			count: 5
			path: tests/Feature/MessageTest.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/MessageTest.php

		-
			message: '#^Cannot access property \$subject on App\\Models\\Thread\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Feature/MessageTest.php

		-
			message: '#^Cannot call method creator\(\) on App\\Models\\Thread\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Feature/MessageTest.php

		-
			message: '#^Cannot call method messages\(\) on App\\Models\\Thread\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Feature/MessageTest.php

		-
			message: '#^Cannot call method participants\(\) on App\\Models\\Thread\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Feature/MessageTest.php

		-
			message: '#^Parameter \#1 \$user of method Illuminate\\Foundation\\Testing\\TestCase\:\:actingAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Feature/MessageTest.php

		-
			message: '#^Property Tests\\Feature\\MessageTest\:\:\$contactService is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Feature/MessageTest.php

		-
			message: '#^Cannot access offset ''compatible_units'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Cannot access offset ''constraints'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Cannot access offset ''temperature'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 2
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 2
			path: tests/Feature/TypeDiscoveryTest.php

		-
			message: '#^Cannot call method bootstrap\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Tests\\TestCase\:\:createApplication\(\) should return Illuminate\\Foundation\\Application but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Cannot access property \$source_id on App\\Models\\Contact\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Cannot access property \$source_type on App\\Models\\Contact\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Cannot access property \$user_id on App\\Models\\Contact\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Parameter \#1 \$object of function get_class expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Call to an undefined method App\\Interfaces\\LoginServiceInterface\:\:client\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Call to an undefined method App\\Interfaces\\LoginServiceInterface\:\:user\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andSet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\:\:getStatusCode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\:\:getTargetUrl\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/Unit/LoginTest.php

		-
			message: '#^Cannot call method andSet\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Unit/LoginTest.php

		-
			message: '#^Parameter \#1 \.\.\.\$methodNames of method Mockery\\LegacyMockInterface\:\:shouldReceive\(\) expects string, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Parameter \#1 \.\.\.\$methodNames of method Mockery\\LegacyMockInterface\:\:shouldReceive\(\) expects string, array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/LoginTest.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator\<int, App\\Models\\Thread\>\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator\<int, App\\Models\\Thread\>\:\:random\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/Unit/MessageTest.php

		-
			message: '#^Cannot access property \$user_id on App\\Models\\Participant\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Cannot call method each\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#1 \$object of function get_class expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#1 \$thread of method App\\Interfaces\\MessageServiceInterface\:\:newMessage\(\) expects App\\Models\\Thread, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#1 \$user of method App\\Interfaces\\MessageServiceInterface\:\:markAsReadAll\(\) expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#1 \$user of method App\\Interfaces\\MessageServiceInterface\:\:unreadThreads\(\) expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array, array\|string given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$max of function rand expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$user of method App\\Interfaces\\MessageServiceInterface\:\:markAsRead\(\) expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$user of method App\\Interfaces\\MessageServiceInterface\:\:newMessage\(\) expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTest.php

		-
			message: '#^Parameter \#2 \$user of method App\\Interfaces\\MessageServiceInterface\:\:newThread\(\) expects App\\Models\\User, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Unit/MessageTest.php

		-
			message: '#^Method Tests\\Unit\\MessageTypeTest\:\:accepts\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/MessageTypeTest.php

		-
			message: '#^Method Tests\\Unit\\MessageTypeTest\:\:accepts\(\) has parameter \$schema with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/MessageTypeTest.php

		-
			message: '#^Parameter \#2 \$schema of method Opis\\JsonSchema\\Validator\:\:validate\(\) expects bool\|object\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTypeTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/TypeRegistryTest.php

		-
			message: '#^Offset ''error'' might not exist on array\<string, mixed\>\|null\.$#'
			identifier: offsetAccess.notFound
			count: 7
			path: tests/Unit/TypeRegistryTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/TypeRegistryTest.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/UserTest.php