includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - app
        - config
        - database
        - routes
        - tests
    tmpDir: storage/phpstan