parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Providers/Project/LoginServiceProvider.php

		-
			message: '#^Parameter \#1 \$repository of class App\\Services\\LoginService constructor expects Laravel\\Passport\\ClientRepository, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/Project/LoginServiceProvider.php

		-
			message: '#^Method App\\Services\\UserService\:\:find\(\) should return App\\Models\\User but returns App\\Models\\User\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Services/UserService.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/cache.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/database.php

		-
			message: '#^Parameter \#1 \$title of static method Illuminate\\Support\\Str\:\:slug\(\) expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/session.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: database/factories/ContactFactory.php

		-
			message: '#^Cannot access property \$id on App\\Models\\Thread\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: database/factories/MessageFactory.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: database/factories/MessageFactory.php

		-
			message: '#^Method Database\\Factories\\ThreadFactory\:\:configure\(\) should return \$this\(Database\\Factories\\ThreadFactory\) but returns static\(Database\\Factories\\ThreadFactory\)\.$#'
			identifier: return.type
			count: 1
			path: database/factories/ThreadFactory.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: database/factories/ThreadFactory.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000001_create_oauth_auth_codes_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000001_create_oauth_auth_codes_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000002_create_oauth_access_tokens_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000002_create_oauth_access_tokens_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000003_create_oauth_refresh_tokens_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000003_create_oauth_refresh_tokens_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2016_06_01_000004_create_oauth_clients_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000004_create_oauth_clients_table.php

		-
			message: '#^Method CreateOauthPersonalAccessClientsTable\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2016_06_01_000005_create_oauth_personal_access_clients_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2018_08_08_100000_create_telescope_entries_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2018_08_08_100000_create_telescope_entries_table.php

		-
			message: '#^Method Illuminate\\Database\\Migrations\\Migration@anonymous/database/migrations/2024_06_01_000001_create_oauth_device_codes_table\.php\:7\:\:getConnection\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: database/migrations/2024_06_01_000001_create_oauth_device_codes_table.php

		-
			message: '#^Parameter \#1 \$value of method Illuminate\\Testing\\TestResponse\<Symfony\\Component\\HttpFoundation\\Response\>\:\:assertSee\(\) expects list\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Feature/FrontEndTest.php

		-
			message: '#^Cannot call method bootstrap\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Method Tests\\TestCase\:\:createApplication\(\) should return Illuminate\\Foundation\\Application but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Cannot access property \$source_id on App\\Models\\Contact\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Cannot access property \$source_type on App\\Models\\Contact\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Cannot access property \$user_id on App\\Models\\Contact\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Parameter \#1 \$object of function get_class expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/ContactTest.php

		-
			message: '#^Method Tests\\Unit\\MessageTypeTest\:\:accepts\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/MessageTypeTest.php

		-
			message: '#^Method Tests\\Unit\\MessageTypeTest\:\:accepts\(\) has parameter \$schema with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/MessageTypeTest.php

		-
			message: '#^Parameter \#2 \$schema of method Opis\\JsonSchema\\Validator\:\:validate\(\) expects bool\|object\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MessageTypeTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/TypeRegistryTest.php

		-
			message: '#^Offset ''error'' might not exist on array\<string, mixed\>\|null\.$#'
			identifier: offsetAccess.notFound
			count: 7
			path: tests/Unit/TypeRegistryTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/TypeRegistryTest.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/UserTest.php